body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #ffffff;
	color: #fff;
	padding: 10px;
}

h1 {
	margin: 0;
}

main {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.featured-products {
	flex: 1 1 60%;
	text-align: center;
}

.featured-products h2 {
	margin-top: 0;
}

.featured-products ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.featured-products li {
	flex: 1 1 30%;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}

.featured-products li img {
	max-width: 100%;
}

.featured-products li h3 {
	margin-top: 0;
}

.featured-products li p {
	font-weight: bold;
}
.img-center {
    margin: 0 auto;
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .sell {
	height: 80px;
	
  }
  .navbar {
	background-color: rgb(255, 255, 255);
  }
footer {
	background-color: #333;
	color: white;
}

#products button {
	display: block;
	margin-top: 10px;
	padding: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 	10%;
	cursor: pointer;
  }
  .contact {
	position: absolute;
	top: 130px;
	right: 1000px;
	width: 300px;
	height: 400px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 2px 2px gainsboro;
	padding: 10px;
  }
.ap {
	list-style: none;
	
}
.ass {
	background-color: #333;
}

 

